  <div class="container" id='containerProfile'>
    
    <div class="row">
      <div class="col-6 col-md-4">
      </div>
    
      <div class="col-6 col-md-4">
        

      <div class="container">
        <div class="row">
          <div class="col">
          </div>
          <div class="col-6">

          <h2>Welcome, <%= currentUser.firstName.toUpperCase() %>  </h2>
          <img src="<%= currentUser.avatar %>">

          <h3>Your information</h3>
          <p><%console.log('currentUser:', currentUser) %></p>
          <ul>
            <p>First Name:  <%= currentUser.firstName %> </p>
            <p>Last Name :  <%= currentUser.lastName %></p>
            <p>Email     :  <%= currentUser.mail %></p>
            <p>Phone     :  <%= currentUser.phone %></p>
            <p>Birthdate :  <%= currentUser.age %></p>
            
          </ul>

          </div>
          <div class="col">
          </div>
        </div>
      </div>
        
        


