<div id='offers'>
    <div id='offersHeader'>
        <h1>Jobs Opportunities<h1>
    </div>
    <div id='offersList'>
        <ul>    
            <% offers.forEach((offer) => { %>
            <li>
            <a href="/hroffer/<%= offer._id%>"><%= offer.title%>, <%= offer.city%>, <%= offer.country%> </a><button class="offerDButton"><a href="hroffer/delete/<%= offer._id%>">Delete Offer</a></button>
        </li> 
            <% }) %>
        </ul>
    </div>
</div>